@import './base.css';

:root {
  --text-color: #fff;
  --main-color: #8b7355;
  --btn-hover-color: #6a5433;
  --dark-color: #583d19;
  --table-row-color: #b3946b;
  --table-row-hover-color: #d2b48c;
  --black-color: #000000;
  --shadow-color: #00000033;
}